---
title: Проверка на EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946679"
---
# <a name="edu-verification"></a>Проверка на EDU

В повечето случаи исканията за академична допустимост се обработват в рамките на 24–48 часа. Някои искания може да изискват по-задълбочен преглед и могат да отнемат до 10 работни дни, за да обработите. След като завършим, ще изпратим имейл със състоянието на годност на вашето училище.

**Важно** Ако сте излезли от съветника за проверка, преди да въведете домейн, можете да възобновите съветника за академична проверка [по](https://go.microsoft.com/fwlink/p/?linkid=2135255) всяко време по време на безплатната пробна версия.

Ако искате да проверите състоянието на вашия домейн, отидете на [Център за администриране на Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). На началната страница превъртете до дъното и намерете картата **за** фактуриране. Картата **за** фактуриране показва състоянието на процеса на проверка (одобрен, чакащ, отклонен или добавяне на вашия домейн).

Ако заявката ви е отказана, [вижте Моето училище не отговаря на условията. Какво да направя сега?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)