---
title: Проверка на ЕДУ
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205256"
---
# <a name="edu-verification"></a><span data-ttu-id="7ff8b-102">Проверка на ЕДУ</span><span class="sxs-lookup"><span data-stu-id="7ff8b-102">EDU verification</span></span>

<span data-ttu-id="7ff8b-103">В повечето случаи, академичните заявки за допустимост се обработват в рамките на 24-48 часа.</span><span class="sxs-lookup"><span data-stu-id="7ff8b-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="7ff8b-104">Някои заявки може да изискват по-задълбочен преглед и може да отнеме до 10 работни дни, за да обработи.</span><span class="sxs-lookup"><span data-stu-id="7ff8b-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="7ff8b-105">След като приключим, ще изпратим имейл със статуса на вашето училище.</span><span class="sxs-lookup"><span data-stu-id="7ff8b-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="7ff8b-106">**Важно** Ако сте излезли от съветника за потвърждение, преди да влезете в домейн, можете да [възобновите съветника за академична проверка](https://go.microsoft.com/fwlink/p/?linkid=2135255) по всяко време по време на безплатния пробен период.</span><span class="sxs-lookup"><span data-stu-id="7ff8b-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="7ff8b-107">Ако искате да проверите състоянието на вашия домейн, отидете в центъра за администриране на [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="7ff8b-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="7ff8b-108">На началната страница превъртете до долната част и намерете картата **за фактуриране.**</span><span class="sxs-lookup"><span data-stu-id="7ff8b-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="7ff8b-109">Картата **за таксуване** показва състоянието на процеса на потвърждаване (одобрена, чакаща, отхвърлена или да добавите вашия домейн).</span><span class="sxs-lookup"><span data-stu-id="7ff8b-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="7ff8b-110">Ако заявката ви е отхвърлена, вижте [Моето училище не отговаря на условията. Какво да правя сега?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="7ff8b-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>