---
title: Проверка на EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814361"
---
# <a name="edu-verification"></a><span data-ttu-id="28902-102">Проверка на EDU</span><span class="sxs-lookup"><span data-stu-id="28902-102">EDU verification</span></span>

<span data-ttu-id="28902-103">В повечето случаи исканията за академична допустимост се обработват в рамките на 24–48 часа.</span><span class="sxs-lookup"><span data-stu-id="28902-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="28902-104">Някои искания може да изискват по-задълбочен преглед и могат да отнемат до 10 работни дни, за да обработите.</span><span class="sxs-lookup"><span data-stu-id="28902-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="28902-105">След като завършим, ще изпратим имейл със състоянието на годност на вашето училище.</span><span class="sxs-lookup"><span data-stu-id="28902-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="28902-106">**Важно** Ако сте излезли от съветника за проверка, преди да въведете домейн, можете да възобновите съветника за академична проверка [по](https://go.microsoft.com/fwlink/p/?linkid=2135255) всяко време по време на безплатната пробна версия.</span><span class="sxs-lookup"><span data-stu-id="28902-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="28902-107">Ако искате да проверите състоянието на вашия домейн, отидете в центъра за администриране на [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="28902-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="28902-108">На началната страница превъртете до дъното и намерете картата **за** фактуриране.</span><span class="sxs-lookup"><span data-stu-id="28902-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="28902-109">Картата **за** фактуриране показва състоянието на процеса на проверка (одобрен, чакащ, отклонен или добавяне на вашия домейн).</span><span class="sxs-lookup"><span data-stu-id="28902-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="28902-110">Ако заявката ви е отказана, [вижте Моето училище не отговаря на условията. Какво да направя сега?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="28902-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>