---
title: Проверка на ЕДУ
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138732"
---
# <a name="edu-verification"></a>Проверка на ЕДУ

Ще получите имейл, който ви уведомява дали вашата организация отговаря на условията.

В някои случаи може да се наложи да изчакате до 48 часа, за да завърши DNS проверката. Можете да щракнете върху "Ще се провери по-късно" и се върнете по-късно и влезте в портала на Office 365; след това отидете в Център за ** [администриране](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Настройки** и щракнете върху [Домейни,](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) за да проверите записа за състоянието за вашия домейн.

Когато сте одобрени, можете да отидете в раздела **[Покупка на услуги](https://go.microsoft.com/fwlink/p/?linkid=868433)** в центъра за администриране на Microsoft, за да закупите абонаменти.
