---
title: Проверка на ЕДУ
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205256"
---
# <a name="edu-verification"></a>Проверка на ЕДУ

В повечето случаи, академичните заявки за допустимост се обработват в рамките на 24-48 часа. Някои заявки може да изискват по-задълбочен преглед и може да отнеме до 10 работни дни, за да обработи. След като приключим, ще изпратим имейл със статуса на вашето училище.

**Важно** Ако сте излезли от съветника за потвърждение, преди да влезете в домейн, можете да [възобновите съветника за академична проверка](https://go.microsoft.com/fwlink/p/?linkid=2135255) по всяко време по време на безплатния пробен период.

Ако искате да проверите състоянието на вашия домейн, отидете в центъра за администриране на [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). На началната страница превъртете до долната част и намерете картата **за фактуриране.** Картата **за таксуване** показва състоянието на процеса на потвърждаване (одобрена, чакаща, отхвърлена или да добавите вашия домейн).

Ако заявката ви е отхвърлена, вижте [Моето училище не отговаря на условията. Какво да правя сега?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)