---
title: Проверка за EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710328"
---
# <a name="edu-verification"></a>Проверка за EDU

В повечето случаи академичните искания за допустимост се обработват в рамките на 24-48 часа. Някои искания може да изискват по-задълбочен преглед и да отнемат до 10 работни дни, за да обработят. След като приключите, ще ви изпратим имейл със статута за допустимост на вашето училище.

**Важно** Ако сте излезли от съветника за проверка, преди да въведете домейн, можете да [възобновите съветника за академично удостоверяване](https://go.microsoft.com/fwlink/p/?linkid=2135255) по всяко време по време на вашия безплатен пробен период.

Ако искате да проверите състоянието на домейна си, отидете в центъра за администриране на [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). В началната страница превъртете до долната част и намерете карта за **плащане** . Картата за **Фактуриране** указва състоянието на процеса на проверка (одобрен, чакащ, отклонен или добавяне на вашия домейн).

Ако искането ви е отказано, вижте [моето училище не отговаря на изискванията. Какво да правя сега?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)