---
title: Проверка на ЕДУ
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138732"
---
# <a name="edu-verification"></a><span data-ttu-id="cc7e0-102">Проверка на ЕДУ</span><span class="sxs-lookup"><span data-stu-id="cc7e0-102">EDU verification</span></span>

<span data-ttu-id="cc7e0-103">Ще получите имейл, който ви уведомява дали вашата организация отговаря на условията.</span><span class="sxs-lookup"><span data-stu-id="cc7e0-103">You'll receive an email letting you know whether your organization's eligibility has been approved.</span></span>

<span data-ttu-id="cc7e0-104">В някои случаи може да се наложи да изчакате до 48 часа, за да завърши DNS проверката.</span><span class="sxs-lookup"><span data-stu-id="cc7e0-104">In some cases, you may need to wait up to 48 hours for the DNS verification to complete.</span></span> <span data-ttu-id="cc7e0-105">Можете да щракнете върху "Ще се провери по-късно" и се върнете по-късно и влезте в портала на Office 365; след това отидете в Център за \*\* [администриране](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Настройки\*\* и щракнете върху [Домейни,](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) за да проверите записа за състоянието за вашия домейн.</span><span class="sxs-lookup"><span data-stu-id="cc7e0-105">You can click “I'll verify later” and come back later and log into the Office 365 portal; then go to **[Admin center](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Settings** and click [Domains](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) to check the status entry for your domain.</span></span>

<span data-ttu-id="cc7e0-106">Когато сте одобрени, можете да отидете в раздела **[Покупка на услуги](https://go.microsoft.com/fwlink/p/?linkid=868433)** в центъра за администриране на Microsoft, за да закупите абонаменти.</span><span class="sxs-lookup"><span data-stu-id="cc7e0-106">When you are approved, you can go to the **[Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433)** tab of Microsoft admin center to purchase subscriptions.</span></span>
