---
title: 8000038 GDPR дете сметка проверка
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524400"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="ba5a7-102">Дата на раждане, показани във вашия акаунт в Microsoft е неправилен</span><span class="sxs-lookup"><span data-stu-id="ba5a7-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="ba5a7-103">Microsoft се много сериозно внимание на сигурността.</span><span class="sxs-lookup"><span data-stu-id="ba5a7-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="ba5a7-104">Може да имате наскоро били подкана да предоставят родителско съгласие за детски акаунт в Microsoft.</span><span class="sxs-lookup"><span data-stu-id="ba5a7-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="ba5a7-105">Ако имате нужда от помощ за осигуряване на съгласието на родителите или актуализиране на датата на раждане на акаунт в Microsoft, вижте [проверка на възрастта за родителско съгласие](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="ba5a7-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="ba5a7-106">Научете повече за [родителско съгласие и Microsoft дете сметки](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="ba5a7-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  