---
title: 8000038 на акаунта за дете в ОРЗД
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056983"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Датата на раждане, показана във вашия акаунт в Microsoft, е неправилна

Microsoft приема защитата на акаунта много сериозно. Възможно е наскоро да сте били подканени да предоставите родителско съгласие за акаунта в Microsoft на детето. Ако имате нужда от помощ при предоставянето на родителско съгласие или актуализиране на датата на раждане в акаунт в Microsoft, вижте [Проверка на възрастта за родителско съгласие](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Научете повече за [родителското съгласие и детските акаунти в Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  