---
title: 8000038 GDPR за проверка на акаунт за дете
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707952"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Дата на раждане, показана във вашия акаунт в Microsoft, е неправилна

Microsoft взема предвид сигурността много сериозно. Може би наскоро сте били подканени да предоставите родителско съгласие за акаунт в Microsoft. Ако имате нужда от помощ за предоставянето на родителско съгласие или актуализиране на датата на раждане в акаунт в Microsoft, вижте [проверка на възрастта за родителско съгласие](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Научете повече за [родителското съгласие и дъщерните акаунти на Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  