---
title: 8000038 ПРОВЕРКА НА АКАУНТ ЗА ДЕЦА по GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764969"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Датата на раждане, показана във вашия акаунт в Microsoft, е неправилна

Microsoft приема защитата на акаунтимного сериозно. Възможно е наскоро да сте подканени да предоставите родителско съгласие за акаунта на дете в Microsoft. Ако имате нужда от помощ за предоставяне на родителско съгласие или актуализиране на датата на раждане на акаунт в Microsoft, вижте [Потвърждаване на възрастта за родителско съгласие](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Научете повече за [родителското съгласие и детските акаунти на Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  