---
title: 8000038 GDPR дете сметка проверка
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387046"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Дата на раждане, показани във вашия акаунт в Microsoft е неправилен

Microsoft се много сериозно внимание на сигурността. Може да имате наскоро били подкана да предоставят родителско съгласие за детски акаунт в Microsoft. Ако имате нужда от помощ за осигуряване на съгласието на родителите или актуализиране на датата на раждане на акаунт в Microsoft, вижте [проверка на възрастта за родителско съгласие](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Научете повече за [родителско съгласие и Microsoft дете сметки](https://go.microsoft.com/fwlink/p/?linkid=874365).
  