---
title: 8000038 GDPR дете сметка проверка
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775826"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Дата на раждане, показани във вашия акаунт в Microsoft е неправилен

Microsoft се много сериозно внимание на сигурността. Може да имате наскоро били подкана да предоставят родителско съгласие за детски акаунт в Microsoft. Ако имате нужда от помощ за осигуряване на съгласието на родителите или актуализиране на датата на раждане на акаунт в Microsoft, вижте [проверка на възрастта за родителско съгласие](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Научете повече за [родителско съгласие и Microsoft дете сметки](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

