---
title: Отстраняване на неизправности при проверка на Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884789"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="31d6c-102">Проблеми, свързани с проверката на Publisher за разработчици</span><span class="sxs-lookup"><span data-stu-id="31d6c-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="31d6c-103">**Препоръчителни стъпки**</span><span class="sxs-lookup"><span data-stu-id="31d6c-103">**Recommended steps**</span></span> 

<span data-ttu-id="31d6c-104">За да разрешите проблемите, свързани с проверката на Publisher, изпълнете стъпките по-долу:</span><span class="sxs-lookup"><span data-stu-id="31d6c-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="31d6c-105">Прегледайте предпоставките и други изисквания, за да сте сигурни, че всички те са изпълнени.</span><span class="sxs-lookup"><span data-stu-id="31d6c-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="31d6c-106">Прегледайте инструкциите, за да [маркирате приложение като Publisher, което е проверено](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , и се уверете, че всички стъпки са извършени успешно.</span><span class="sxs-lookup"><span data-stu-id="31d6c-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="31d6c-107">Прегледайте списъка с [често срещани проблеми](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) и следвайте препоръчваните стъпки, ако имате проблем с този списък.</span><span class="sxs-lookup"><span data-stu-id="31d6c-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="31d6c-108">Възпроизведете заявката чрез [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , за да съберете допълнителна информация и да отхвърлите всякакви проблеми в потребителския интерфейс.</span><span class="sxs-lookup"><span data-stu-id="31d6c-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="31d6c-109">**Препоръчителни документи**</span><span class="sxs-lookup"><span data-stu-id="31d6c-109">**Recommended documents**</span></span>

- [<span data-ttu-id="31d6c-110">Проверка на Publisher – общ преглед</span><span class="sxs-lookup"><span data-stu-id="31d6c-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="31d6c-111">Маркиране на вашето приложение като Publisher потвърден</span><span class="sxs-lookup"><span data-stu-id="31d6c-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="31d6c-112">Отстраняване на неизправности при проверка на Publisher</span><span class="sxs-lookup"><span data-stu-id="31d6c-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

