---
title: Отстраняване на неизправности при проверка на Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: bg-BG
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884789"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Проблеми, свързани с проверката на Publisher за разработчици

**Препоръчителни стъпки** 

За да разрешите проблемите, свързани с проверката на Publisher, изпълнете стъпките по-долу:

1. Прегледайте предпоставките и други изисквания, за да сте сигурни, че всички те са изпълнени.
2. Прегледайте инструкциите, за да [маркирате приложение като Publisher, което е проверено](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , и се уверете, че всички стъпки са извършени успешно.
3. Прегледайте списъка с [често срещани проблеми](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) и следвайте препоръчваните стъпки, ако имате проблем с този списък.
4. Възпроизведете заявката чрез [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , за да съберете допълнителна информация и да отхвърлите всякакви проблеми в потребителския интерфейс.

**Препоръчителни документи**

- [Проверка на Publisher – общ преглед](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Маркиране на вашето приложение като Publisher потвърден](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Отстраняване на неизправности при проверка на Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

